.listing {
    background: var(--accent-color);
    border-radius: 30px;
    height: 450px;
    padding-bottom: 20px;
    display: grid;
}

.listing-heading {
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
  text-align: center;
}
.listing-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}
.listing-location {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.listing-location::before {
  content: url("/assets/location-pin.svg");
}
section.listing a {
  text-decoration: none;
  color: var(--primary-color);
  align-self: flex-end;
  text-align: center;
}
section.listing a::after {
  content: "\203A";
  margin-left: 5px;
}